@import "~bulma/sass/utilities/initial-variables"

// Config
$primary: $cyan
$primary-invert: $red

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important


.navbar-brand .navbar-item
  color: $primary
  font-size: 3em
  letter-spacing: -1px
  font-weight: bold
  text-transform: uppercase

@import "~bulma"
